body {
  font-family: madimiotf;
  margin: 0;
  padding: 0;
  background-color: #F0F4F9;
}

header {
  background-color: #0f0061;
  color: #fff;
  padding: 20px;
  text-align: center;
}
nav ul {
  list-style: none;
  justify-content: end;
}
nav li {
  display: inline-block;
  margin-right: 5px;
  font-family: madimiotf;
  font-size: 1em;
}
div form{
  justify-content: end;
}
nav a {
  color: #fff;
  text-decoration: none;
}
#logo-completa{
  font-family: madimiotf;
  padding-right: 4vh !important;
  font-size: 4vh;
}
#busca{
  font-family: madimiotf;
}
#nav-2{
  background-color: rgb(255, 255, 255);
}
#nav-2 a{
  font-family: madimiotf;
  font-size: 1.1em;
  padding: 2vh;
  margin: 1vw;
  border-radius: 2vh;
  color: rgb(63, 63, 63);
}
#nav-2 :hover{
  scale: 1.03;
  transition: 200ms;
  background-color: rgb(255, 255, 255) !important;
}
#veterinario{
  background-color: #d9fcd8 !important;
}
#banho{
  background-color: #feffd7 !important;
}
#adestramento{
  background-color: #d7eefc !important;
}
#imagem-fundo{
  background-image: url(../imagens/1.png);
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover ;
}
#nav-3 a{
  font-family: madimiotf;
  font-size: 1em;
  padding: 1.5vh;
  margin: 1vw;
  border-radius: 2vh;
  background-color: rgb(255, 255, 255);
  color: rgb(104, 104, 104);
}

#menu-pets{
  border-radius:2vh;
}
#dog{padding-right: 1vh;}
#cat{padding-right: 1vh;}
#bird{padding-right: 1vh;}
#fish{padding-right: 1vh;}
#outhers{padding-right: 1vh;}

#heart{padding-left:3vh;}
#cart{padding-left:3vh;}
#user{padding-left:3vh;}

.dropdown-item{
  padding: 1vh;
  margin-bottom: 1vh;
}
.dropdown-item:hover{
  background-color: #f3f3f3;
  border-radius: 1vh;
}
#carousel-pets{
  padding-top: 1em;
  padding-bottom: 1em;
}
#descricao-produto{
  font-family: never;
}
#descricao-produto{
  margin: -0.5rem !important;
}
#promo{
  font-size: 0.75em;
}
.card-img-top{
  height: 12rem;
}
main {
  padding: 20px;
}

#recomendados{
  font-family: madimiotf;
  font-size: 1.5em;
  padding: 1vw;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 575.98px) {
  .carousel-inner{
    display: flex;
    
  }
  .carousel-item{
    display: block;
    margin-right: -1vh;
    flex: 0 0 calc(100%/3);
  }
  .card{
    width: 10rem !important;
    height: 21.5rem;
  }
  .card-img-top{
    height: 10rem;
  }
  .img-wrapper{
    margin: -1rem;
  }
  #descricao-produto{
    margin: -1rem !important;
  }
  #botao-comprar{
    margin: 0.5rem;
    position: relative;
    top: -2vh;
  }
  #nav-2 a{
    font-family: madimiotf;
    font-size: 1em;
    padding: 2vh;
    margin: 1vw;
    border-radius: 2vh;
    color: rgb(63, 63, 63);
  }
}
@media screen and (min-width:575px) {
  .carousel-inner{
    display: flex;
  }
  .carousel-item{
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/12);
  }
  
}


.carousel-inner{
  display: flex;
  padding-left: 1.5vw;
}

.card{
  margin: 0 .5em;
}

.carousel-control-prev, .carousel-control-next{
  background-color: rgba(0, 0, 0, 0.534);
  height: 8vh;
  width: 5vh;
  border-radius: 1.5vh;
  top: 50%;
  transform: translateY(-50%);
  padding: 1vh;
}
.img-wrapper{
  padding: 2em;
}

@font-face {
  font-family: madimiotf;
  src: url(../fontes/madimi/otf/MadimiOne-Regular.otf);
}
@font-face {
  font-family: never;
  src: url(../fontes/NeverMindRounded/NeverMindRounded-DemiBold.ttf);
}
